// Here's how to create your own responsive classes
// First, import sass colors, functions, mixins and variables
@import '@app/pf-core.scss';

// Second, build a sass map of the breakpoints you wish to support

// using all PF breakpoints
$app-new-component--breakpoint-map: build-breakpoint-map();

// using specific breakpoints
// $app-new-component--breakpoint-map: build-breakpoint-map('base', 'sm', 'lg', 'xl');


.app-new-component {
  @each $breakpoint, $breakpoint-value in $app-new-component--breakpoint-map {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}, "");

    @debug $breakpoint;

    @include pf-apply-breakpoint($breakpoint, $app-new-component--breakpoint-map) {
      .app-m-fancy#{$breakpoint-name} {
        background: red;
      }
    }
  }
}

